.git
.github
_build
deps
.elixir_ls
.env
.env.*
**/*.secret.exs
**/*.pem
**/*.key
**/*.dump
**/*.sql
/logs
/tmp
erl_crash.dump
test
docs
priv/static/assets
priv/static/cache_manifest.json
assets/node_modules
